<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vigenere</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<script>
function myFunction() {
var text1= $('#text1').val();
var text2= $('#text2').val();
var text3= $('#text3').val();
  $.ajax({
              url: "/join",
              type: "POST",
              data: {text1:text1,
              text2:text2,text3:text3}
          }).done(function(response) {
            var html= "<br><br><br><p> <b> Encrypted/Decrypted : <b><p>";
            response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+key+": "+val+"<p>"
                });
                html +="<br>";
                $(".show-data").append(html);
            });
};
  </script>
<body>
    <p>
        Arindam Keswani (E18CSE027)<br><br>
            Plain<input type="text" id="text1" name="text1"><br><br>
            Key<input type="text" id="text2" name="text2"><br><br>
            Cipher<input type="text" id="text3" name="text3"><br><br>
            <button id="clicked" onclick="myFunction()">Submit</button>
        </p>
    <div class="show-data" >
    </div>
</body>
</html>